@import '../../styles.scss';

.mat-dialog-content {
    overflow: auto;
}

.mat-dialog-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.header {
    margin-bottom: 20px;
}

p {
    margin-bottom: 30px!important;
}

.close-header {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    right: 0;
    top: 0;
    z-index: 1000;

    button{
        border: none;
        padding: 0;
        background-color: whitesmoke;
    
        svg {
            margin: auto!important;
        }
    }
}

.header {
    margin-top: 80px;
}

.caption {
    color: grey;
}

