@import '../../styles.scss';

.mat-dialog-content {
    overflow: auto;
}

.header {
    margin-bottom: 20px;
}

p {
    margin-bottom: 30px!important;
}

.close-header {
    display: flex;
    justify-content: flex-end;
    right: 24px;
    top: 24px;
    background-color: white;
    button{
        border: none;
        padding: 0;
        background-color: white;
    
        svg {
            margin: auto!important;
        }
    }
}

.header {
    margin-top: 50px;
}

.caption {
    color: grey;
}