@import '../../styles.scss';

mat-card {
    width: 250px;
    margin: 30px 0px 30px 0;
    background-color: $secondary!important;

    mat-card-title {
        font-family: $font-family-secondary!important;
    }

    img {
        background-image:
    linear-gradient (to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73));
    }

    @media (min-width: $s-xx-small) {
        width: initial;
    }
}