@import '../../styles.scss';

mat-card {
    height: 300px;
    width: 250px;
    margin: 30px 30px 30px 0;
    background-color: whitesmoke!important;

    // @media (min-width: $s-medium-small) {
    //     width: 45%;
    // }

    // @media (min-width: $s-medium) {
    //     width: 33%;
    // }
}