<mat-card (click)="openDialog()">
  <div class="go-corner" href="#">
    <div class="go-arrow">
      →
    </div>
  </div>
    <mat-card-header>
      <mat-card-title>{{ project.title }}</mat-card-title>
      <mat-card-subtitle>{{ project.subtitle }}</mat-card-subtitle>
    </mat-card-header>
    <div mat-card-image class="img-wrapper">
      <img [src]="project.picture" [alt]="project.alt">
    </div> 
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-chip-list>
      <mat-chip color="primary" selected *ngFor="let skill of project.skills">{{ skill }}</mat-chip>
    </mat-chip-list>
</mat-card>
