@import "../../styles.scss";

button {
  width: 60px!important;
  height: 60px!important;
  z-index: 1;
  color: black;
  background: #ffb300;
}

.mat-icon {
  font-size: 30px;
  height: 30px;
  width: 30px;
  color: black;
}

@media (min-width: $s-medium) {
  button {
    width: 80px!important;
    height: 80px!important;
    z-index: 1;
    color: black;
    background: #ffb300;
  }
  
  .mat-icon {
    font-size: 50px;
    height: 50px;
    width: 50px;
    color: black;
  }
}