@import '../../styles.scss';

.page-section {
    margin-top: 40px;
    margin-bottom: 80px;

    h1 {
        font-family: $font-family-secondary!important;
        font-weight: 500;
    }

    mat-divider {
        border-top-color: $primary;
    }
}