@import '../../styles.scss';

.bar-wrapper {
    margin-top: 30px;

    .title {
        margin-bottom: 2px!important;
    }

    mat-progress-bar {
        height: 15px;
        max-width: 500px;
    }
}
