@import '../../styles.scss';

.main-page {    
    margin: auto;
    // TODO: no hero margin: 100px auto auto auto; 
    width: 290px;
    height: 100%; 

    .intro {
        margin-top: 30px;
    }

    .project-disclaimer {
        margin-top: 20px;
    }

    @media (min-width: $s-small) {
        width: $s-x-small!important;
    }

    @media (min-width: $s-medium-small) {
        width: $s-small!important;
    }

    @media (min-width: $s-medium) {
        width: $s-medium-small!important;
    }

    @media (min-width: $s-medium-large) {
        width: $s-medium!important;
    }

    @media (min-width: $s-large) {
        width: $s-medium-large!important;
    }
}




