<div class="main-page">
    <app-page-section header="Intro">
        <p *ngFor="let content of introContentList" class="intro" [innerHTML]="content">
        </p>
    </app-page-section>

    <app-page-section header="Skills">
        <app-skills-bar [skills]="skillsList"></app-skills-bar>
    </app-page-section>

    <app-page-section header="Experience">
        <app-experience-entry [experiences]="experienceList"></app-experience-entry>
    </app-page-section>

    <app-page-section header="Projects">
        <p><b>Note:</b> I can't go into details about my work at <b>Intersect</b> (NDA) but feel free to ask about the image carousel or simple
                        comments section I built from scratch!
        </p>
        <app-project-cards-grid [projects]="projectsList" class="projects"></app-project-cards-grid>
    </app-page-section>
</div>
