<div class="example-container">
    <mat-toolbar color="accent" class="mobile-nav">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    </mat-toolbar>

    <mat-toolbar color="accent" class="desktop-nav">
        <button (click)="scrollToView('#intro')"  [class.underline]="introInView" mat-button>Intro</button>
        <button (click)="scrollToView('#skills')" [class.underline]="skillsInView" mat-button>Skills</button>
        <button (click)="scrollToView('#experience')" [class.underline]="experienceInView" mat-button>Experience</button>
        <button (click)="scrollToView('#projects')" [class.underline]="projectsInView" mat-button>Projects</button>
        <button (click)="scrollToView('#contact')" [class.underline]="contactInView" mat-button>Contact</button>
    </mat-toolbar>

    <mat-sidenav-container>
        <mat-sidenav color="secondary" #snav mode="'over'" fixedTopGap="56">
            <mat-nav-list>
                <a (click)="scrollToView('#intro', true)" [class.underline]="introInView" mat-list-item>Intro</a>
                <a (click)="scrollToView('#skills', true)" [class.underline]="skillsInView" mat-list-item>Skills</a>
                <a (click)="scrollToView('#experience', true)" [class.underline]="experienceInView" mat-list-item>Experience</a>
                <a (click)="scrollToView('#projects', true)" [class.underline]="projectsInView" mat-list-item>Projects</a>
                <a (click)="scrollToView('#contact', true)" [class.underline]="contactInView" mat-list-item>Contact</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content (click)="snav.toggle()" [class.mat-drawer-shown]="opened" class="mat-drawer-backdrop"></mat-sidenav-content>
    </mat-sidenav-container>
</div>
