<div *ngFor="let experience of experiences">
    <mat-expansion-panel 
        class="entry"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>
                <p><strong>{{ experience.jobTitle }}</strong></p>
                <p>{{ experience.company }}</p>
                <p class="mat-expansion-panel-header-description">{{ experience.employmentType }}</p>
                <p class="date mat-expansion-panel-header-description">{{ experience.date }}</p>
            </mat-panel-title>
            <mat-panel-description>
                <p>
                    {{ experience.date }}
                </p>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <ul>
            <li *ngFor="let item of experience.list" [innerHTML]="item"></li>
        </ul>

        <mat-chip-list>
            <mat-chip color="primary" selected *ngFor="let skill of experience.skills">{{ skill }}</mat-chip>
        </mat-chip-list>
    </mat-expansion-panel>
</div>