@import '../../styles.scss';

.entry {
    margin-top: 30px;
    background-color: $secondary;

    ul {
        margin-bottom: 30px;
        li {
            margin-top: 10px;
        }
    }

    mat-expansion-panel-header[style] {
        height: 108px!important;

        mat-panel-title {
            display: flex;
            flex-direction: column;
            p {
                margin: 0 0 4px;
            }
        }

        mat-panel-description {
            display: none;
        }
    }
}

@media (min-width: $s-medium-small) {
    .entry {
        mat-expansion-panel-header[style] {
            height: 88px!important;

            mat-panel-title {
                .date {
                    display: none;
                }
            }

            mat-panel-description {
                display: flex;
                justify-content: flex-end;
                margin-right: 30px;

                p {
                    @include margin-y(auto);
                }
            }
            
        }
    }
}