@import '../../styles.scss';

.pair {
    max-width: 940px;
    margin: auto;
    @media (min-width: $s-medium) {
        display: flex;
        justify-content: space-between;

        .project-wrapper {
            width: 48%;
        }
    }
}