@import '../../styles.scss';

.page-hero {
    height: 100vh;
    text-align: center;
    background-color: $secondary;
    color: black;

    .hero-content {
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: 100%;

        h1, h4 {
            @include margin-x(auto);
            width: 300px;
        }

        .mat-display-2 {
            display: block;
            margin-bottom: 20px!important;
            font-family: $font-family-secondary!important;
            font-weight: 500;
        }

        h1, h2, .mat-display-4, .mat-display-3 {
            display: none;
        }

        app-scroll-animation {
            margin-top: 20px;
        }

        .icon-row {
            display: flex; 
            justify-content: center;

            button {
                color: #ffb300;
                &.linkedin {
                    @include margin-x(25px);
                }

                mat-icon {
                    i {
                        width: 14px!important;
                        height: 14px!important;
                    }
                }
            }
        }
    }
}

@media (min-width: $s-xx-small) {
    .page-hero {
        .hero-content {
            h1, h2, h4 {
                @include margin-x(auto);
                width: 320px;
            }

            h2, .mat-display-3 {
                display: block;
            }

            h2 {
                font-weight: 400!important;
            }

            .mat-display-3 {
                font-family: $font-family-secondary!important;
                margin-bottom: 20px!important;
                font-weight: 500;
            }

            h4, .mat-display-2 {
                display: none;
            }
        }
    }
}

@media(min-width: $s-x-small) {
    .page-hero {
        .hero-content{
        h1, h2, h4 {
            @include margin-x(auto);
            width: 360px;
        }
    }
    }
}

@media(min-width: $s-small) {
    .page-hero {
        .hero-content{
        h1, h2, h4 {
            @include margin-x(auto);
            width: 500px;
        }
    }
    }
}

@media(min-width: $s-medium) {
    .page-hero {
        .hero-content {
            h1, .mat-display-4 {
                display: block;
            }

            h1 {
                width: 500px;
            }

            .mat-display-4 {
                font-family: $font-family-secondary!important;
                margin-bottom: 20px!important;
                font-weight: 400;
            }

            h2, .mat-display-3 {
                display: none;
            }

            .icon-row {
                @include margin-y(10px);
            }
        }
    }
}