@import "~@angular/material/theming";
@import "palette.scss";

@include mat-core();

// Material Theme Colors
$primary: #ffb300;
$secondary: whitesmoke;
$warn: #f44336;
$primary-light: mat-palette($mat-amber);
$accent-light: mat-palette($mat-grey, 50);
$warn-light: mat-palette($mat-red, 300);
$shruti-portfolio-theme: mat-light-theme(
  $primary-light,
  $accent-light,
  $warn-light
);
@include angular-material-theme($shruti-portfolio-theme);

// Screen Sizes
$s-xxx-large: 1900px;
$s-xx-large: 1640px;
$s-x-large: 1366px;
$s-large: 1128px;

$s-medium-large: 940px;
$s-medium: 768px;
$s-medium-small: 640px;

$s-small: 520px;
$s-x-small: 375px;
$s-xx-small: 360px;
$s-xxx-small: 320px;

// Font Sizes
$f-xxx-huge: 60px;
$f-xx-huge: 48px;
$f-x-huge: 36px;
$f-huge: 28px;

$f-xx-large: 26px;
$f-x-large: 24px;
$f-large: 22px;

$f-small: 14px;
$f-x-small: 13px;
$f-xx-small: 11px;

// Font Weights
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

// Fonts
$font-family-primary: "Montserrat", sans-serif;
$font-family-secondary: "Josefin Sans", sans-serif;

$custom-typography: mat-typography-config(
  $font-family: "Montserrat, sans-serif",
);

@include angular-material-typography($custom-typography);
@include mat-card-typography($custom-typography);

// Mixins
@mixin margin-x($margin) {
  margin-left: $margin;
  margin-right: $margin;
}

@mixin margin-y($margin) {
  margin-top: $margin;
  margin-bottom: $margin;
}

@mixin padding-x($padding) {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin padding-y($padding) {
  padding-top: $padding;
  padding-bottom: $padding;
}

.cdk-global-scrollblock {
  overflow-y: hidden;
}

// Other Styles
html,
body {
  margin: 0;

  .cdk-overlay-pane[style] {
    max-width: 100vw !important;
  }

  .mat-typography {
    @include padding-x(0);
  }

  button,
  a {
    font-family: $font-family-primary !important;
  }

  .mat-drawer-inner-container {
    background-color: whitesmoke !important;
  }

  .mat-dialog-container {
    height: unset!important;
  }

  mat-dialog-container {
    width: 100vw!important;
    .mat-dialog-content,.header {
        max-width: 900px;
        margin: auto;
        max-height: unset!important;
        padding: 0!important;
    }
  }

  .carousel-indicators {
    top: unset !important;
    right: unset !important;
  }

  .carousel {
    min-height: 300px !important;
    height: 50vh!important;
    max-width: 900px;
    border: 2px solid black;
    left: 0;
    right: 0;
    position: absolute;
    ul {
      height: 100% !important;
      li {
        height: 100% !important;
        padding-bottom: 0% !important;
      }
    }
    
    .mat-snack-bar-container {
      height: 48px!important;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    button.mat-icon-button{
      background-color: rgb(255, 179, 0, 0.95)!important;
      color: black!important;
      &:last-of-type {
        right: 5px!important;
      }

      &:first-of-type {
        left: 5px!important;
      }
    }

    .mat-mini-fab{
      background-color: rgb(0,0,0,0.8);
      &:disabled {
        background-color: rgb(0,0,0,0.42);
      }
    }


    .carousel-indicators {
      background-color:rgb(255, 179, 0, 0.95)!important;
      border-radius: 4px!important;
  }

    @media (min-width: $s-medium-small) {
      min-height: 400px !important;
    }
  }
}



.carousel-slide {
  background-position: unset !important;
}

.right-align {
  .carousel-slide {
    background-position: right !important;
  }  
}