@import '~@angular/material/theming';
@import 'palette.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');
@include mat-core();

// Material Theme Colors 
$primary-light: mat-palette($mat-teal);
$accent-light: mat-palette($mat-grey);
$warn-light: mat-palette($mat-amber);
$shruti-portfolio-theme: mat-light-theme($primary-light, $accent-light, $warn-light);
@include angular-material-theme($shruti-portfolio-theme);

// Screen Sizes
$s-xxx-large: 1900px;
$s-xx-large: 1640px;
$s-x-large: 1366px;
$s-large: 1128px;

$s-medium-large: 940px;
$s-medium: 768px;
$s-medium-small: 640px;

$s-small: 520px;
$s-x-small: 375px;
$s-xx-small: 360px;
$s-xxx-small: 320px;

// Font Sizes
$f-xxx-huge: 60px;
$f-xx-huge: 48px;
$f-x-huge: 36px;
$f-huge: 28px;

$f-xx-large: 26px;
$f-x-large: 24px;
$f-large: 22px;

$f-small: 14px;
$f-x-small: 13px;
$f-xx-small: 11px;

// Font Weights
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

// Font Family
$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Josefin Sans', sans-serif;

// Other Styles
::ng-deep .mat-body {
    .mat-toolbar, .mat-typography { 
        font: $font-family-primary!important;
    
        .mat-toolbar, .mat-typography
        h1, h2, h3, h4, h5, h6 {
            font-family: $font-family-secondary!important;
            font-weight: $fw-semi-bold;
        }
    }
}

html, body {
    margin: 0;
}