@import '../../styles.scss';

.page-hero {
    height: 100vh;
    text-align: center;
    background-color: $secondary;
    color: black;

    .hero-content {
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: 100%;

        h1, h3 {
            @include margin-x(auto);
            width: 300px;
        }

        .mat-display-1 {
            display: block;
            margin-bottom: 20px!important;
            font-family: $font-family-secondary!important;
            font-weight: 500;
        }

        h1, h2, .mat-display-4, .mat-display-3 {
            display: none;
        }

        app-scroll-animation {
            margin-top: 40px;
        }
    }
}

@media (min-width: $s-xx-small) {
    .page-hero {
        .hero-content {
            h1, h2, h3 {
                @include margin-x(auto);
                width: 320px;
            }

            h2, .mat-display-3 {
                display: block;
            }

            .mat-display-3 {
                font-family: $font-family-secondary!important;
                margin-bottom: 20px!important;
                font-weight: 500;
            }

            h3, .mat-display-1 {
                display: none;
            }
        }
    }
}

@media(min-width: $s-medium-large) {
    .page-hero {
        .hero-content {
            h1, .mat-display-4 {
                display: block;
            }

            h1 {
                width: 500px;
            }

            .mat-display-4 {
                font-family: $font-family-secondary!important;
                margin-bottom: 20px!important;
                font-weight: 500;
            }

            h2, .mat-display-3 {
                display: none;
            }
        }
    }
}